In [20]:
# get API key
import os
import json
import requests
from pprint import pprint
from config import api_key

#import csv 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st
from scipy.stats import linregress
import seaborn as sns


#import csv file
csv_path = "data/gender_Jun16.csv"

In [2]:
#get data
df = pd.read_csv(csv_path)
df

,EVENT_ID_CNTY,EVENT_DATE,YEAR,TIME_PRECISION,DISORDER_TYPE,EVENT_TYPE,SUB_EVENT_TYPE,ACTOR1,ASSOC_ACTOR_1,INTER1,...,LOCATION,LATITUDE,LONGITUDE,GEO_PRECISION,SOURCE,SOURCE_SCALE,NOTES,FATALITIES,TAGS,TIMESTAMP
0,XKX12,14-February-2018,2018,1,Demonstrations,Protests,Peaceful protest,Protesters (Kosovo),Women (Kosovo),6,...,Pristina,42.667,21.172,1,Kallxo,National,"On 14 February 2018, 2018 in Pristina, Kosovo,...",0,NaN,1652375201
1,XKX19,08-March-2018,2018,1,Demonstrations,Protests,Peaceful protest,Protesters (Kosovo),Women (Kosovo),6,...,Pristina,42.667,21.172,1,Kosova Press,National,"On 8 March 2018, in Kosovo capital Pristina, w...",0,NaN,1652899424
2,XKX35,20-April-2018,2018,2,Political violence,Violence against civilians,Attack,Unidentified Armed Group (Kosovo),Albanian Ethnic Group (Kosovo),3,...,North Mitrovica,42.895,20.865,1,Vecernje Novosti,International,"As reported on April 20, 2018, female journali...",0,NaN,1572403786
3,XKX64,22-July-2018,2018,1,Demonstrations,Protests,Peaceful protest,Protesters (Kosovo),Women (Kosovo),6,...,Shterpca,42.241,21.026,1,Kosova Press,National,"On 22 July 2018, 2018 in Prizren, Kosovo, FEMa...",0,crowd size=no report,1652375197
4,XKX67,09-August-2018,2018,1,Demonstrations,Protests,Peaceful protest,Protesters (Kosovo),Women (Kosovo),6,...,Gjakova,42.380,20.431,1,Kallxo,National,"On 9 August 2018, 2018 in Gjakova, Kosovo, cit...",0,NaN,1652375197
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60229,ZAM1459,21-January-2022,2022,1,Political violence,Riots,Mob violence,Rioters (Zambia),UPND Youth League: United Party for National D...,5,...,Kasama,-10.217,31.217,1,Daily Nation (Zambia); Lusaka Times; Zambia Re...,National,"On 21 January 2022, five suspected UPND youths...",0,crowd size=5; women targeted: government offic...,1683058339
60230,ZAM1482,25-February-2022,2022,1,Political violence,Riots,Mob violence,Rioters (Zambia),Students (Zambia),5,...,Ndola,-12.967,28.633,1,Mwebantu; Zambia Reports,National,"On 25 February 2022, a group of boys (assumed ...",0,crowd size=no report; women targeted: girls,1646691987
60231,ZAM1499,11-April-2022,2022,1,Demonstrations,Riots,Violent demonstration,Rioters (Zambia),Women (Zambia); Students (Zambia),5,...,Mporokoso,-9.371,30.122,1,Lusaka Times,National,"On 11 April 2022, girls from Lunte Girls Secon...",0,crowd size=no report,1663032950
60232,ZAM1522,01-September-2022,2022,1,Political violence,Riots,Mob violence,Rioters (Zambia),Vigilante Group (Zambia),5,...,Chama,-11.213,33.152,1,Zambia Reports,National,"On 1 September 2022, two men killed a woman ov...",1,crowd size=2; women targeted: accused of witch...,1663026147
60233,ZAM1578,30-May-2023,2023,2,Political violence,Violence against civilians,Sexual violence,Police Forces of Zambia (2021-),NaN,1,...,Choma,-16.806,26.953,1,Zambia Reports,National,"Around 30 May 2023 (as reported), a police off...",0,women targeted: girls,1686583461

In [3]:
#groupby demonstration_typee
disorder_type = df.groupby("DISORDER_TYPE")
disorder_type.head()

,EVENT_ID_CNTY,EVENT_DATE,YEAR,TIME_PRECISION,DISORDER_TYPE,EVENT_TYPE,SUB_EVENT_TYPE,ACTOR1,ASSOC_ACTOR_1,INTER1,...,LOCATION,LATITUDE,LONGITUDE,GEO_PRECISION,SOURCE,SOURCE_SCALE,NOTES,FATALITIES,TAGS,TIMESTAMP
0,XKX12,14-February-2018,2018,1,Demonstrations,Protests,Peaceful protest,Protesters (Kosovo),Women (Kosovo),6,...,Pristina,42.667,21.172,1,Kallxo,National,"On 14 February 2018, 2018 in Pristina, Kosovo,...",0,NaN,1652375201
1,XKX19,08-March-2018,2018,1,Demonstrations,Protests,Peaceful protest,Protesters (Kosovo),Women (Kosovo),6,...,Pristina,42.667,21.172,1,Kosova Press,National,"On 8 March 2018, in Kosovo capital Pristina, w...",0,NaN,1652899424
2,XKX35,20-April-2018,2018,2,Political violence,Violence against civilians,Attack,Unidentified Armed Group (Kosovo),Albanian Ethnic Group (Kosovo),3,...,North Mitrovica,42.895,20.865,1,Vecernje Novosti,International,"As reported on April 20, 2018, female journali...",0,NaN,1572403786
3,XKX64,22-July-2018,2018,1,Demonstrations,Protests,Peaceful protest,Protesters (Kosovo),Women (Kosovo),6,...,Shterpca,42.241,21.026,1,Kosova Press,National,"On 22 July 2018, 2018 in Prizren, Kosovo, FEMa...",0,crowd size=no report,1652375197
4,XKX67,09-August-2018,2018,1,Demonstrations,Protests,Peaceful protest,Protesters (Kosovo),Women (Kosovo),6,...,Gjakova,42.380,20.431,1,Kallxo,National,"On 9 August 2018, 2018 in Gjakova, Kosovo, cit...",0,NaN,1652375197
5,XKX68,11-August-2018,2018,1,Demonstrations,Protests,Peaceful protest,Protesters (Kosovo),Women (Kosovo),6,...,Gjakova,42.380,20.431,1,Kallxo,National,"On 11 August 2018, 2018 in Gjakova, Kosovo, ci...",0,NaN,1652375197
16,XKX231,30-May-2019,2019,1,Political violence,Violence against civilians,Attack,Unidentified Armed Group (Kosovo),NaN,3,...,Lipjan,42.526,21.122,1,Indeksonline,National,"On 30 May 2019, a Roma woman was attacked by u...",0,NaN,1652899836
17,XKX234,01-June-2019,2019,2,Political violence,Violence against civilians,Attack,Unidentified Armed Group (Kosovo),NaN,3,...,Ferizaj,42.371,21.155,1,UDAR,International,"As reported on June 1, a Roma woman was beaten...",0,NaN,1572403785
20,XKX335,11-April-2020,2020,1,Strategic developments,Strategic developments,Arrests,Police Forces of Kosovo (2020-),NaN,1,...,North Mitrovica,42.895,20.865,1,RFE/RL,International,"On 11 April 2020, editor in chief of an opposi...",0,NaN,1586885081
43,XKX685,05-December-2022,2022,1,Political violence,Violence against civilians,Attack,Unidentified Armed Group (Kosovo),NaN,3,...,Mitrovica,42.887,20.867,1,Kallxo,National,"On 5 December 2022, unidentified perpetrators ...",0,NaN,1670965354
46,AFG24,01-January-2017,2017,2,Political violence,Violence against civilians,Attack,Taliban,NaN,2,...,Nawa-i-Barikzayi,31.392,64.319,2,Khaama Press; Pajhwok Afghan News,National,Reported 5 Jan 2017: Taliban killed a female p...,1,women targeted: government officials,1638981227
53,AFG2766,19-May-2017,2017,1,Strategic developments,Strategic developments,Looting/property destruction,Unidentified Armed Group (Afghanistan),NaN,3,...,Maimana,35.921,64.784,2,Radio Bost,National,Property destruction: Suspected Taliban milita...,0,NaN,1670985061
67,AFG9548,12-April-2018,2018,2,Strategic developments,Strategic developments,Looting/property destruction,Unidentified Armed Group (Afghanistan),NaN,3,...,Mohammad Agha,34.212,69.100,2,Radio Bost,National,Property destruction: As reported on April 12t...,0,NaN,1587406455
84,AFG15783,28-December-2018,2018,1,Strategic developments,Strategic developments,Looting/property destruction,Taliban,NaN,2,...,Urgoon,32.941,69.180,2,Bakhtar News Agency,National,"Property destruction: On 28-December-2018, Tal...",0,NaN,1641949206
86,AFG16375,30-January-2019,2019,1,Strategic developments,Strategic developments,Looting/property destruction,Unidentified Armed Group (Afghanistan),NaN,3,...,Farah,32.374,62.116,1,Pajhwok Afghan News,National,"Property destruction: On 30-January-2019, 1 gi...",0,NaN,1580846926
162,AFG61950,04-September-2021,2021,1,Political violence; Demonstrations,Protests,Excessive force against protesters,Protesters (Afghanistan),Women (Afghanistan); Civilians (Afghanistan); ...,6,...,Kabul,34.517,69.183,1,AP; TOLO News; New York Times; HRW; RFE/RL; Kh...,Other-National,"On 4 September 2021, for the second consecutiv...",0,crowd size=around 100; women targeted: protesters,1675805178
167,AFG61972,07-September-2021,2021,1,Political violence; Demonstrations,Protests,Excessive force against protesters,Protesters (Afghanistan),Women (Afghanistan); Civilians (Afghanistan); ...,6,...,Kabul,34.517,69.183,1,Al Jazeera; New York Times; TOLO News; Shamsha...,Other-National,"On 7 September 2021, hundreds of civilians pro...",0,crowd size=hundreds; women targeted: protesters,1675805178
359,AFG65029,13-August-2022,2022,1,Political violence; Demonstrations,Protests,Excessive force against protesters,Protesters (Afghanistan),Women (Afghanistan); Civilians (Afghanistan); ...,6,...,Kabul,34.517,69.183,1,Rukhshana Media; Aamaj News; Afghan Peace Watc...,Local partner-Other,"On 13 August 2022, dozens of women staged a pr...",0,crowd size=dozens; women targeted: protesters,1675805178
394,AFG65281,30-September-2022,2022,1,Political violence; Demonstrations,Protests,Excessive force against protesters,Protesters (Afghanistan),Women (Afghanistan); Journalists (Afghanistan)...,6,...,Kabul,34.517,69.183,1,Nimrokh Media; Twitter; Kokcha Press; Aamaj News,New media-National,"On 30 September 2022, a group of women gathere...",0,crowd size=no report; women targeted: protesters,1675805178
597,ALG3093,28-August-2012,2012,1,Political violence; Demonstrations,Protests,Excessive force against protesters,Protesters (Algeria),Women (Algeria),6,...,Laayoune,35.697,1.997,1,AFP,International,"On 28 August 2012, A woman protester was beate...",0,crowd size=no report,1676310648

In [4]:
#get count of disorder_types 
disorder_type_count = disorder_type["DISORDER_TYPE"].count()
disorder_type_count

DISORDER_TYPE
Demonstrations                        41812
Political violence                    17170
Political violence; Demonstrations      181
Strategic developments                 1071
Name: DISORDER_TYPE, dtype: int64

In [5]:
disorder_type["COUNTRY"].value_counts()

DISORDER_TYPE           COUNTRY
Demonstrations          United States    5624
                        India            5413
                        Turkey           2492
                        Mexico           2426
                        South Korea      1951
                                         ...
Strategic developments  Thailand            1
                        Turkmenistan        1
                        Uganda              1
                        Uzbekistan          1
                        Zimbabwe            1
Name: COUNTRY, Length: 450, dtype: int64

In [6]:
countryDf = pd.crosstab(df["COUNTRY"], df["DISORDER_TYPE"], margins=True)
countryDf

DISORDER_TYPE,Demonstrations,Political violence,Political violence; Demonstrations,Strategic developments,All
COUNTRY,,,,,
Afghanistan,243,219,4,38,504
Albania,32,1,0,0,33
Algeria,56,13,1,0,70
Andorra,4,0,0,0,4
Angola,25,26,0,0,51
...,...,...,...,...,...
Yemen,316,276,4,17,613
Zambia,4,35,0,0,39
Zimbabwe,103,181,20,1,305
eSwatini,15,20,1,0,36
All,41812,17170,181,1071,60234

In [7]:
# get maximum value of countries with disorder types
maxDisorder = countryDf.sort_values(by="All", ascending=False).head(10)
maxDisorder
#get populations of countries to seee if any countries have a disporortionate amount of demonstrations

DISORDER_TYPE,Demonstrations,Political violence,Political violence; Demonstrations,Strategic developments,All
COUNTRY,,,,,
All,41812,17170,181,1071,60234
India,5413,817,10,7,6247
United States,5624,86,6,31,5747
Mexico,2426,2739,2,6,5173
Turkey,2492,38,0,5,2535
Iran,1909,23,43,179,2154
Brazil,669,1327,1,4,2001
South Korea,1951,1,0,0,1952
Poland,1730,0,0,0,1730
Pakistan,1391,194,1,4,1590

In [8]:
# get countries of disoder_type
disorder_type_country = disorder_type["COUNTRY"].unique()
disorder_type_country

DISORDER_TYPE
Demonstrations                        [Kosovo, Afghanistan, Albania, Algeria, Andorr...
Political violence                    [Kosovo, Afghanistan, Albania, Algeria, Angola...
Political violence; Demonstrations    [Afghanistan, Algeria, Argentina, Bangladesh, ...
Strategic developments                [Kosovo, Afghanistan, Argentina, Bahrain, Bang...
Name: COUNTRY, dtype: object

In [9]:
#get number of countries disorder_type
disorder_type_country_count = disorder_type_country.str.len()
disorder_type_country_count

DISORDER_TYPE
Demonstrations                        184
Political violence                    150
Political violence; Demonstrations     40
Strategic developments                 76
Name: COUNTRY, dtype: int64

In [10]:
#plotly bar chart



# disorder_type.hist(column="YEAR", bins=10)

In [11]:
#Now let's import the data from worldbankpopulation.csv
worldbankdata = "data/worldbankpopulation.csv"

In [12]:
#let's make the data into a dataframe
worldbank_df = pd.read_csv(worldbankdata)
worldbank_df.head()

,Series Name,Series Code,Country Name,Country Code,1990 [YR1990],2000 [YR2000],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022]
0,"Population, total",SP.POP.TOTL,Afghanistan,AFG,10694796,19542982,31541209,32716210,33753499,34636207,35643418,36686784,37769499,38972230,40099462,41128771
1,"Population, total",SP.POP.TOTL,Albania,ALB,3286542,3089027,2895092,2889104,2880703,2876101,2873457,2866376,2854191,2837849,2811666,2775634
2,"Population, total",SP.POP.TOTL,Algeria,DZA,25518074,30774621,38000626,38760168,39543154,40339329,41136546,41927007,42705368,43451666,44177969,44903225
3,"Population, total",SP.POP.TOTL,American Samoa,ASM,47818,58230,52995,52217,51368,50448,49463,48424,47321,46189,45035,44273
4,"Population, total",SP.POP.TOTL,Andorra,AND,53569,66097,71367,71621,71746,72540,73837,75013,76343,77700,79034,79824

In [13]:
#let's create a dataframe with populations of Country Name India, United States, Mexico, Turkey, Iran and Brazil
countries = ["India", "United States", "Mexico", "Turkiye", "Iran, Islamic Rep.", "Brazil"]
worldbank_df = worldbank_df.loc[worldbank_df["Country Name"].isin(countries),:]
#duplicated rows (look into documentation)
worldbank_df.head(10)
# countries

,Series Name,Series Code,Country Name,Country Code,1990 [YR1990],2000 [YR2000],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022]
26,"Population, total",SP.POP.TOTL,Brazil,BRA,150706446,175873720,201721767,203459650,205188205,206859578,208504960,210166592,211782878,213196304,214326223,215313498
89,"Population, total",SP.POP.TOTL,India,IND,870452165,1059633675,1291132063,1307246509,1322866505,1338636340,1354195680,1369003306,1383112050,1396387127,1407563842,1417173173
91,"Population, total",SP.POP.TOTL,"Iran, Islamic Rep.",IRN,55793629,65544383,78458928,79961672,81790841,83306231,84505076,85617562,86564202,87290193,87923432,88550570
127,"Population, total",SP.POP.TOTL,Mexico,MEX,81720428,97873442,117290686,118755887,120149897,121519221,122839258,124013861,125085311,125998302,126705138,127504125
198,"Population, total",SP.POP.TOTL,Turkiye,TUR,54324142,64113547,76576117,78112073,79646178,81019394,82089826,82809304,83481684,84135428,84775404,85341241
206,"Population, total",SP.POP.TOTL,United States,USA,249623000,282162411,316059947,318386329,320738994,323071755,325122128,326838199,328329953,331511512,332031554,333287557

In [14]:
# worldbank_df = worldbank_df.loc([worldbank_df["Country Name"] == "Mexico"])
# worldbank_df

#let's create a dataframe with population of Country Name India
india_df = worldbank_df[worldbank_df["Country Name"].isin(countries)]
india_df

,Series Name,Series Code,Country Name,Country Code,1990 [YR1990],2000 [YR2000],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022]
26,"Population, total",SP.POP.TOTL,Brazil,BRA,150706446,175873720,201721767,203459650,205188205,206859578,208504960,210166592,211782878,213196304,214326223,215313498
89,"Population, total",SP.POP.TOTL,India,IND,870452165,1059633675,1291132063,1307246509,1322866505,1338636340,1354195680,1369003306,1383112050,1396387127,1407563842,1417173173
91,"Population, total",SP.POP.TOTL,"Iran, Islamic Rep.",IRN,55793629,65544383,78458928,79961672,81790841,83306231,84505076,85617562,86564202,87290193,87923432,88550570
127,"Population, total",SP.POP.TOTL,Mexico,MEX,81720428,97873442,117290686,118755887,120149897,121519221,122839258,124013861,125085311,125998302,126705138,127504125
198,"Population, total",SP.POP.TOTL,Turkiye,TUR,54324142,64113547,76576117,78112073,79646178,81019394,82089826,82809304,83481684,84135428,84775404,85341241
206,"Population, total",SP.POP.TOTL,United States,USA,249623000,282162411,316059947,318386329,320738994,323071755,325122128,326838199,328329953,331511512,332031554,333287557

In [15]:
maxDisorder

DISORDER_TYPE,Demonstrations,Political violence,Political violence; Demonstrations,Strategic developments,All
COUNTRY,,,,,
All,41812,17170,181,1071,60234
India,5413,817,10,7,6247
United States,5624,86,6,31,5747
Mexico,2426,2739,2,6,5173
Turkey,2492,38,0,5,2535
Iran,1909,23,43,179,2154
Brazil,669,1327,1,4,2001
South Korea,1951,1,0,0,1952
Poland,1730,0,0,0,1730
Pakistan,1391,194,1,4,1590

In [16]:
#create a dataframe from Cleaned_genderinequality.csv
genderinequalitydata = "data/Cleaned_genderinequalityUN.csv"
#let's make the data into a dataframe
gender_df = pd.read_csv(genderinequalitydata)
gender_df

,HDI rank,Country,Value - 2021,Rank - 2021,"Maternal mortality ratio (deaths per 100,000 live births) - 2017","Adolescent birth rate (births per 1,000 women ages 15–19) - 2021",Share of seats in parliament (% held by women) - 2021,Population with at least some secondary education (% ages 25 and older) - Female (2021),Population with at least some secondary education (% ages 25 and older) - Male (2021),Labour force participation rate (% ages 15 and older) - Female - 2021,Labour force participation rate (% ages 15 and older) - Male - 2021
0,1.0,Switzerland,0.018,3,5,2.2,39.8,96.9,97.5,61.7,72.7
1,2.0,Norway,0.016,2,2,2.3,45,99.1,99.3,60.3,72
2,3.0,Iceland,0.043,8,4,5.4,47.6,99.8,99.7,61.7,70.5
3,4.0,"Hong Kong, China (SAR)",..,..,..,1.6,..,77.1,83.4,53.5,65.8
4,5.0,Australia,0.073,19,6,8.1,37.9,94.6,94.4,61.1,70.5
...,...,...,...,...,...,...,...,...,...,...,...
189,187.0,Burundi,0.505,127,548,53.6,38.9,7.8,13,79,77.4
190,188.0,Central African Republic,0.672,166,829,160.5,12.9,13.9,31.6,63.3,79.5
191,189.0,Niger,0.611,153,509,170.5,25.9,9.2,15.2,61.7,84.3
192,190.0,Chad,0.652,165,"1,140",138.3,32.3,7.7,24.4,46.9,69.9
193,191.0,South Sudan,0.587,150,"1,150",99.2,32.3,26.5,36.4,70.4,73.6

In [53]:
gender_df["Country"].unique()

array(['Switzerland', 'Norway', 'Iceland', 'Hong Kong, China (SAR)',
       'Australia', 'Denmark', 'Sweden', 'Ireland', 'Germany',
       'Netherlands', 'Finland', 'Singapore', 'Belgium', 'New Zealand',
       'Canada', 'Liechtenstein', 'Luxembourg', 'United Kingdom', 'Japan',
       'Korea (Republic of)', 'United States', 'Israel', 'Malta',
       'Slovenia', 'Austria', 'United Arab Emirates', 'Spain', 'France',
       'Cyprus', 'Italy', 'Estonia', 'Czechia', 'Greece', 'Poland',
       'Bahrain', 'Lithuania', 'Saudi Arabia', 'Portugal', 'Latvia',
       'Andorra', 'Croatia', 'Chile', 'Qatar', 'San Marino', 'Slovakia',
       'Hungary', 'Argentina', 'Türkiye', 'Montenegro', 'Kuwait',
       'Brunei Darussalam', 'Russian Federation', 'Romania', 'Oman',
       'Bahamas', 'Kazakhstan', 'Trinidad and Tobago', 'Costa Rica',
       'Uruguay', 'Belarus', 'Panama', 'Malaysia', 'Georgia', 'Mauritius',
       'Serbia', 'Thailand', 'HIGH HUMAN DEVELOPMENT', 'Albania',
       'Bulgaria', 'Grenada', 'Barbados', 'Antigua and Barbuda',
       'Seychelles', 'Sri Lanka', 'Bosnia and Herzegovina',
       'Saint Kitts and Nevis', 'Iran (Islamic Republic of)', 'Ukraine',
       'North Macedonia', 'China', 'Dominican Republic',
       'Moldova (Republic of)', 'Palau', 'Cuba', 'Peru', 'Armenia',
       'Mexico', 'Brazil', 'Colombia', 'Saint Vincent and the Grenadines',
       'Maldives', 'Algeria', 'Azerbaijan', 'Tonga', 'Turkmenistan',
       'Ecuador', 'Mongolia', 'Egypt', 'Tunisia', 'Fiji', 'Suriname',
       'Uzbekistan', 'Dominica', 'Jordan', 'Libya', 'Paraguay',
       'Palestine, State of', 'Saint Lucia', 'Guyana', 'South Africa',
       'Jamaica', 'Samoa', 'Gabon', 'Lebanon', 'Indonesia', 'Viet Nam',
       'MEDIUM HUMAN DEVELOPMENT', 'Philippines', 'Botswana',
       'Bolivia (Plurinational State of)', 'Kyrgyzstan',
       'Venezuela (Bolivarian Republic of)', 'Iraq', 'Tajikistan',
       'Belize', 'Morocco', 'El Salvador', 'Nicaragua', 'Bhutan',
       'Cabo Verde', 'Bangladesh', 'Tuvalu', 'Marshall Islands', 'India',
       'Ghana', 'Micronesia (Federated States of)', 'Guatemala',
       'Kiribati', 'Honduras', 'Sao Tome and Principe', 'Namibia',
       "Lao People's Democratic Republic", 'Timor-Leste', 'Vanuatu',
       'Nepal', 'Eswatini (Kingdom of)', 'Equatorial Guinea', 'Cambodia',
       'Zimbabwe', 'Angola', 'Myanmar', 'Syrian Arab Republic',
       'Cameroon', 'Kenya', 'Congo', 'Zambia', 'Solomon Islands',
       'Comoros', 'Papua New Guinea', 'Mauritania', "Côte d'Ivoire",
       'LOW HUMAN DEVELOPMENT', 'Tanzania (United Republic of)',
       'Pakistan', 'Togo', 'Haiti', 'Nigeria', 'Rwanda', 'Benin',
       'Uganda', 'Lesotho', 'Malawi', 'Senegal', 'Djibouti', 'Sudan',
       'Madagascar', 'Gambia', 'Ethiopia', 'Eritrea', 'Guinea-Bissau',
       'Liberia', 'Congo (Democratic Republic of the)', 'Afghanistan',
       'Sierra Leone', 'Guinea', 'Yemen', 'Burkina Faso', 'Mozambique',
       'Mali', 'Burundi', 'Central African Republic', 'Niger', 'Chad',
       'South Sudan'], dtype=object)

In [17]:
#number of demonstrations vs. inequality (do each of UN columns to test assumptions)
#number of demonstrations vs. political freedom (do Freedom house PR rating to test assumptions)
#group by number of demonstrations into buckets. Do countries in the same bucket have similiar factors?
#do bins of countries by number of demonstrations to see if any countries groupeed together have similiar factors and are suprising to see
#do bins by regions and see any regional outliers?

#ML
#which column is most predictive? (do linear regression using ML)
#show factors on that cause areas of world to be at for gender inequality

In [36]:
disorderIndex_df = maxDisorder.reset_index()
disorderIndex_df

DISORDER_TYPE,COUNTRY,Demonstrations,Political violence,Political violence; Demonstrations,Strategic developments,All
0,All,41812,17170,181,1071,60234
1,India,5413,817,10,7,6247
2,United States,5624,86,6,31,5747
3,Mexico,2426,2739,2,6,5173
4,Turkey,2492,38,0,5,2535
5,Iran,1909,23,43,179,2154
6,Brazil,669,1327,1,4,2001
7,South Korea,1951,1,0,0,1952
8,Poland,1730,0,0,0,1730
9,Pakistan,1391,194,1,4,1590

In [51]:
gender_df.loc[gender_df["Country"].str.contains("Iran")]

,HDI rank,Country,Value - 2021,Rank - 2021,"Maternal mortality ratio (deaths per 100,000 live births) - 2017","Adolescent birth rate (births per 1,000 women ages 15–19) - 2021",Share of seats in parliament (% held by women) - 2021,Population with at least some secondary education (% ages 25 and older) - Female (2021),Population with at least some secondary education (% ages 25 and older) - Male (2021),Labour force participation rate (% ages 15 and older) - Female - 2021,Labour force participation rate (% ages 15 and older) - Male - 2021,Country Translate
76,76.0,Iran (Islamic Republic of),0.459,115,16,30.2,5.6,71.6,76,14.4,68.1,Iran (Islamic Republic of)

In [52]:
translate = {"Iran (Islamic Republic of)": "Iran", "Türkiye": "Turkey", "Korea (Republic of)": "South Korea"}
disorderIndex_df.head(10)
gender_df

#join maxDisorder and gender_df by country

# countryTop_df

gender_df["Country Translate"] = gender_df["Country"].replace(translate)

countryTop_df = disorderIndex_df.merge(gender_df, left_on="COUNTRY", right_on="Country Translate", how="left")
countryTop_df.loc[countryTop_df["Country"].isnull() == 1, ['COUNTRY', 'Country']]

  COUNTRY Country
0     All     NaN

In [28]:
countryTop_df.columns

Index(['Demonstrations', 'Political violence',
       'Political violence; Demonstrations', 'Strategic developments', 'All',
       'HDI rank', 'Country', 'Value - 2021', 'Rank - 2021',
       'Maternal mortality ratio (deaths per 100,000 live births) - 2017',
       'Adolescent birth rate (births per 1,000 women ages 15–19) - 2021',
       'Share of seats in parliament (% held by women) - 2021',
       'Population with at least some secondary education (% ages 25 and older) - Female (2021)',
       'Population with at least some secondary education (% ages 25 and older) - Male (2021)',
       'Labour force participation rate (% ages 15 and older) - Female - 2021',
       'Labour force participation rate (% ages 15 and older) - Male - 2021'],
      dtype='object')

In [19]:
#scatter plot with top 10 countries with most demonstrations (numbers on x axis) and inequality ranking
#maxDisorder.head(10)
#gender_df

#scatter plot by demonstration number and inequality ranking by country
sns.scatterplot(data=tips, x="total_bill", y="tip")